*{
  box-sizing: border-box;
}

html {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Press Start 2P", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 130%;
    line-height: 1.4;
    margin: 0;
    

  }

  h1{
    text-align: center;
  }

  
  .col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
  }
  
  .col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
  }

  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  @media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }
  .contenedor {
    background: rgb(174, 170, 194);
    display: flex;
    flex-flow: column;
    border-radius: 5px;
   padding: 10px;
   justify-content: center;
   text-align: center;
  }

  button{

margin: 5%;

  }
  .viewport-main {
    flex-flow: row;
    padding: 1%;
    color: aliceblue;
    background: rgb(72, 61, 133);
    margin-left: 15%;
    margin-right: 15%;
    padding-bottom: 45%;
    justify-content: center;
    display: flex;
    text-align: center;
    border-radius: 25px;
  }

  select {
  
    border-radius: 4px;
    resize: vertical;
    padding: 4px;
    border: none;
    border-radius: 10px;
    background-color: #bbb0e0;

  }

  button {
  color: rgb(10, 60, 104);
  background-color: #dfe0f1;
  padding: 6px 10px;
  border: none;
  border-radius: 4px;
 
  }

  .resultado{
    border-style: solid;
    border-color: rgb(253, 253, 253);
    background-color: rgb(81, 114, 133);
    border-radius: 25px;
    padding-top: 1%;
    padding-bottom: 1%;

  }